{% extends "layout.html" %}

{% block title %}Details{% endblock %}

{% block body %}
  <div class="container">
          <div class="row" id="details" style="background-color: transparent;">
            <div class="col-md-6 col-sm-12 my-5">
              <div class="jumbotron" style="width: 500px;background-color: white; ">
              <div class="container">
                  <h3 class="display-4">Book Details</h3>
                  <p class="lead">ISBN: {{book_detail.isbn}} </p>
                  <p class="lead">Title: {{book_detail.title}}</p>
                  <p class="lead">Author: {{book_detail.author}}</p>
                  <p class="lead">Year: {{book_detail.year}}</p>
                  <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                   GoodReads Data
                   <p>(Click Me)</p>
                  </button>
                  <p></p>
                    <div class="collapse" id="collapseExample">
                      <div class="card card-body">
                        <p class="lead">Average Rating: {{ goodreads["average_rating"]  }} </p>
                        <p class="lead">Number of Ratings:{{ goodreads["work_reviews_count"]}}</p>
                      </div>
                    </div>
              </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 my-5">
              <div class="list-group">
                  <h3><u>Reviews</u></h3>
            {% if  review_list %}    
              {% for review in review_list %}
                  <div class="card mb-3">
                    <div class="card-body">
                      <h5 class="card-title"><span class="badge badge-info">{{review.username}} </span>
                        {% if review.rating == 5 %}
                          <span class="badge badge-success float-right">{{review.username}} rated it {{review.rating}}</span>
                        {% elif review.rating == 4 or review.rating == 3 %}
                          <span class="badge badge-warning float-right">{{review.username}} rated it {{review.rating}}</span>
                        {% elif review.rating == 2 or review.rating == 1 %}
                          <span class="badge badge-danger float-right">{{review.username}} rated it {{review.rating}}</span>
                        {% endif %}
                      </h5>
                      <h6 class="card-subtitle mb-2 text-muted"><span class="badge">{{review.email}}</span></h6>
                      <p class="card-text mt-3 alert alert-info">{{review.review}}</p>
                    </div>
                  </div>
              {% endfor %}
            {% else %}
                  <div class="alert alert-dark" role="alert">
                    No one reviewed yet!
                  </div>
            {% endif %}    
              </div>
            </div>
          </div>
              
          <div class="row" id="details" style="background-color: transparent;">
            <div class="col-md-6 col-sm-12 ">     
                  <form action="{{url_for('details',bookid=bookid)}}" method="post">
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="Rating">Ratings</label>
                        </div>
                        <select class="custom-select"  id="Rating" name="rating">
                          <option selected>Choose...</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                      </div>

                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Reviews</span>
                        </div>
                        <textarea class="form-control" aria-label="Reviews"  name="reviews" id="Comments"></textarea>
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-dark my-3 btn-lg" >Post</button>
                      </div>
                  </form>
                </div>  
      
          <div class="col-md-4">

        </div>
  </div>
{% endblock %}

